html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
		style.
			table td { padding: 7px; }

		title Show	
	body
		div
			nav.navbar.navbar-inverse(role='navigation', style='padding-left:130px;')
				ul.nav.navbar-nav
					li 
						a(href='./newmessage') New Message
					li.active
						a(href='./') All Messages

		.container
			.row
				.col-xs-9.offset-xs-3
					h1.text-xs-center Bulletin Board Messages
					hr
					table
						tr
							td
								b Subject		
							td
								b Message
						each message in messages
							tr
								td= message.title
								td= message.body