body {
  padding: 500px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff7473;
}

a:visited {
    color: green;
}

a:link {
    text-decoration: none;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 60px;
}

.navbar {
  margin-bottom: 0px;
}

